
{% extends 'layout.html' %}


{% block content %}
	{% if message != '' %}
		<div class = "alert-danger alert">
			{{message}}
		</div>
	{% endif %}
	<form action = "/changepasswordpost" method="POST">
		<div class="content" id="configuration_page">
	    	<div class="container">
				<div class="col-md-6">
					<fieldset class="fsStyle">
						<legend class="legendStyle">
							<span href="#">Password configuration</span>
						</legend>
						<div class="row">
							<div class="col-md-4">
								<label for="password_expiry_period" class="labelStyle">Username: </label>
							</div>
							<div class="col-md-7">
								<input name="username" required type="text" />
							</div>
							<div class="col-md-4">
								<label for="password_expiry_period" class="labelStyle">New password: </label>
							</div>
							<div class="col-md-7">
								<input name="password" required type="password" />
								<input type = "submit" value = "change" style = "margin: 10px 0px;" />
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</form>

	<form action = "/changeusername" method="POST">
		<div class="content" id="configuration_page">
	    	<div class="container">
				<div class="col-md-6">
					<fieldset class="fsStyle">
						<legend class="legendStyle">
							<span href="#">Username configuration</span>
						</legend>
						<div class="row">
							<div class="col-md-4">
								<label for="password_expiry_period" class="labelStyle">Old username: </label>
							</div>
							<div class="col-md-7">
								<input name="old_username" required type="text" />
							</div>
							<div class="col-md-4">
								<label for="password_expiry_period" class="labelStyle">New username: </label>
							</div>
							<div class="col-md-7">
								<input name="new_username" required type="text" />
								<input type = "submit" value = "change" style = "margin: 10px 0px;" />
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
