<div class="content" id="configuration_page">
    	<div class="container">
			<form class="col-md-6">
				<div class="col-md-12">
					<fieldset class="col-md-12 fsStyle">
						<legend class="legendStyle">
							<a href="#">SMTP</a>
						</legend>
						<div class="row">
							<div class="col-md-3">
								<label for="host" class="labelStyle">Host:</label>
							</div>
							<div class="col-md-4">
								<input name="host" maxlength="30" size="30" value="" type="text">
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="user" class="labelStyle">User:</label>
							</div>
							<div class="col-md-4">
								<input name="user" maxlength="30" size="30" value="" type="text">
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="password" class="labelStyle">Password:</label>
							</div>
							<div class="col-md-4">
								<input name="password" maxlength="30" size="30" type="password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="email" class="labelStyle">Email:</label>
							</div>
							<div class="col-md-4">
								<input name="email" maxlength="30" size="30" type="text">
							</div>
						</div>
					</fieldset>
				</div>
			</form>

			<form class="col-md-6">
				<div class="col-md-12">
					<fieldset class="col-md-12 fsStyle">
						<legend class="legendStyle">
							<a href="#">LDAP</a>
						</legend>
						<div class="row">
							<div class="col-md-3">
								<label for="port" class="labelStyle">Port:</label>
							</div>
							<div class="col-md-4">
								<input name="port" maxlength="30" size="30" value="" type="text">
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="ip" class="labelStyle">IP:</label>
							</div>
							<div class="col-md-4">
								<input name="ip" maxlength="30" size="30" value="" type="text">
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="dn" class="labelStyle">DN:</label>
							</div>
							<div class="col-md-4">
								<input name="dn" maxlength="30" size="30" type="text">
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="password" class="labelStyle">Password:</label>
							</div>
							<div class="col-md-4">
								<input name="password" maxlength="30" size="30" type="password">
							</div>
						</div>
					</fieldset>
				</div>
			</form>


			


			<form class="col-md-6">
				<div class="col-md-12">
					<fieldset class="col-md-12 fsStyle">
						<legend class="legendStyle">
							<a href="#">Time Limit for User</a>
						</legend>
						<div class="row">
							<div class="col-md-3">
								<label for="lockout" class="labelStyle">Lock Out:</label>
							</div>
							<div class="col-md-4">
								<input name="lockout" maxlength="30" size="30" value="" type="text">
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="logoff" class="labelStyle">Log off:</label>
							</div>
							<div class="col-md-4">
								<input name="logoff" maxlength="30" size="30" value="" type="text">
							</div>
						</div>
					</fieldset>
				</div>
			</form>
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3">
							<label for="otp" class="labelStyle">OTP Validity:</label>
						</div>
						<div class="col-md-4">
							<input name="otp" maxlength="30" size="30" type="number">
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<label for="password" class="labelStyle">Password Validity:</label>
						</div>
						<div class="col-md-4">
							<input name="password" maxlength="30" size="30" type="number">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 submit-btn">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>

			
		</div>
	</div>