<nav class="navbar navbar-inverse navbar-static-top menubar col-xs-12">
	<div class="container padding-zero">
	<ul class="nav navbar-nav">
		<li id = "dashboardconfig"><a href="/dashboardconfig">Application Configuration</a></li>
		<li id="logs"><a href="/logs" target='_blank'>Logs</a></li>
		<li id = "management" class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="/usermanagement">Administration
				<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li id = "user"><a href="/usermanagement">User Management</a></li>
				<li id = "group"><a href="/groupmanagement">Group Management</a></li>
			</ul>
		</li>
		<li id = "reports" class="reportanalysis">
			<a href="/reportanalysis">Report Analysis</a>
		</li>
		<li id = "email" class="email">
			<a href="/email">Email Templates</a>
		</li>
		<li id = "logout" class="pull-right logout">
			<a href="/logoutauth">Logout</a>
		</li>
		<li id = "change_password" class="pull-right change_password">
			<a href="/changepassword">Change password</a>
		</li>
	</ul>
	</div>
</nav>

